<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rentroom.dao.SubscribeRoomMapper">

    <resultMap id="subscribeRoomResult1" type="com.rentroom.pojo.SubscribeRoom">

        <id column="id" property="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="userName" column="userName"></result>
        <result property="userPhone" column="userphone"></result>
        <result property="createDate" column="createDate"></result>
        <result column="status" property="status"></result>
        <association property="room" resultMap="roomResult2"></association>
    </resultMap>

    <resultMap type="com.rentroom.pojo.Room" id="roomResult2">
        <id column="room_id" property="roomId"/>
        <result column="name" property="name"/>
        <result column="sellType" property="sellType"/>
        <result column="houseType" property="houseType"/>
        <result column="addressDesc" property="addressDesc"/>
        <result column="status" property="status"/>
        <result column="price" property="price"/>
        <result column="area" property="area"/>
        <result column="phone" property="phone"/>
        <result column="createDate" property="createDate"/>
        <association property="address"  select="findAddressByRoomId"  column="room_id">
            <id column="address_Id" property="addId"/>
            <result property="addressName" column="address_name"/>
        </association>
        <collection property="furnitureList" ofType="map" select="findFurnitureinfosByRoomId" column="room_id"  javaType="java.util.List" >
            <id column="furniture_id" property="furnitureId"/>
            <result property="furniturename" column="furniture_name"/>
        </collection>
        <collection property="images" ofType="map" select="findImageInfosByRoomId" column="room_id"  javaType="java.util.List" >
            <id column="img_Id" property="imgId"></id>
            <result property="imgName" column="img_name"></result>
        </collection>
    </resultMap>

    <insert id="insertSubscribeRoom" parameterType="subscribeRoom">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO subscribeRoom(id,user_id,userName,userphone,createDate,room_Id)
        values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR},#{userPhone,jdbcType=VARCHAR},#{createDate,jdbcType=DATE},#{room.roomId,jdbcType=VARCHAR})
    </insert>

    <select id="findSubscribeRoom" resultType="subscribeRoom">
        select s.* from subscribeRoom s
        where s.user_id = #{userId} and  s.room_id = #{roomId}
    </select>

    <delete id="deleteSubcribeRoom">
        delete FROM subscribeRoom  where user_id = #{userId} and  room_id = #{roomId}
    </delete>

    <select id="findSubscribeRoomList" resultMap="subscribeRoomResult1">
        select s.id,s.user_id,s.userName,s.userphone,s.createDate,r.room_id,r.name,r.sellType,r.houseType,r.addressDesc,r.status,r.price,r.area,r.phone,r.createDate
        from subscribeRoom s
        LEFT JOIN room r on s.room_id = r.room_id
        where s.user_id = #{userId}
    </select>

    <select id="findFurnitureinfosByRoomId" parameterType="String" resultType="map">
        select f.furniture_id,f.furniture_name
        from furniture f
        left join room_furniture rf on f.furniture_id=rf.furniture_id
        where rf.room_id = #{room_id}
    </select>


    <select id="findImageInfosByRoomId" parameterType="String" resultType="map">
        select i.img_Id ,i.img_name
        from image i
        where i.room_Id = #{room_id};
    </select>

    <select id="findAddressByRoomId" parameterType="String" resultType="Address">
        select a.address_id,a.address_name
        from address a,room r
        where a.address_id = r.address_Id
        and r.room_id = #{room_id};
    </select>

</mapper>